<h1>
  <%= @run.name %>
</h1>

<ul class="show">
  <li>
    <p>
      <strong>Chart:</strong>
      <%= column_chart @run.test_chart %>
    </p>
  </li>
  <li>
    <p>
      <strong>Details:</strong>
      <%= @run.note %>
    </p>
  </li>
  <li>
    <p>
      <strong>Completed:</strong>
      <%= @run.completed %>
    </p>
  </li>
  <li>
    <p>
      <strong>Vehicles:</strong>
      <%= @run.hits.count %>
    </p>
  </li>
  <li>
    <p>
      <strong>Time:</strong>
      <%= @run.elapsed_time %>
      <br>
      <%= @run.start_time.strftime("%B %d, %Y") %> to <%= @run.end_time.strftime("%B %d, %Y") %>
    </p>
  </li>
</ul>



<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
