<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @run.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @run.note %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @run.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @run.end_time %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @run.completed %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
